@tailwind base;
@tailwind components;
@tailwind utilities;


/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
} */



nav {
  background-color: #F1F5EB;
  color: white;
  padding: 1rem;
}

.bodyContent {
  flex: 1;
  overflow-y: auto;
  background-color: #F1F5EB;
}

footer {
  padding: 1rem;
}

